{% extends "base.html" %} 
{% load static %} 
{% block content %} 
{% block extracss %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}" />
{% endblock %}


<section class="bg-white">
  <div class="home-padding">
      <div class="row  align-items-center justify-content-center pt-2">
          <div class="col-sm-6 col-md-6 col-lg-4 centar">
              <img class="img-fluid" src="{{ MEDIA_URL }}color-powder-picture-crop.jpeg" alt="Background PC Image"/>
              <h1 class="img-headline">FAQ</h1>
          </div>
      </div>
  </div>
</section>
<div class="container faq-padding">
    
    <div class="faq-drawer">
      <input class="faq-drawer-trigger" id="faq-drawer" type="checkbox" /><label class="faq-drawer-title" for="faq-drawer">How long is your comprehensive warranty?</label>
      <div class="faq-drawer-content-wrapper">
        <div class="faq-drawer-content">
          <p class="pt-2">
            TechArray offers a 2-year parts replacement warranty. 
          </p>
        </div>
      </div>
    </div>
    
    <div class="faq-drawer">
      <input class="faq-drawer-trigger" id="faq-drawer-2" type="checkbox" /><label class="faq-drawer-title" for="faq-drawer-2">My system is out of warranty. Can I still get technical support?</label>
      <div class="faq-drawer-content-wrapper">
        <div class="faq-drawer-content">
          <p class="pt-2">
            TechArray offers free lifetime technical support. Even if your warranty has expired, you can contact support for assistance.
          </p>
        </div>
      </div>
    </div>
    
    <div class="faq-drawer">
      <input class="faq-drawer-trigger" id="faq-drawer-3" type="checkbox" /><label class="faq-drawer-title" for="faq-drawer-3">What are normal temperatures ranges for my CPU?</label>
      <div class="faq-drawer-content-wrapper">
        <div class="faq-drawer-content">
          <p class="pt-2">
          Normal temperatures for your CPU are  30-45C when the computer is idle, 50-80C when the computer is under load and 90C+ means the computer is overheating.
          </p>
        </div>
      </div>
    </div>

    <div class="faq-drawer">
      <input class="faq-drawer-trigger" id="faq-drawer-4" type="checkbox" /><label class="faq-drawer-title" for="faq-drawer-4">What are normal temperatures ranges for my GPU?</label>
      <div class="faq-drawer-content-wrapper">
        <div class="faq-drawer-content">
          <p class="pt-2">
            Normal temperaturesfor your GPU are  30-45C when the computer is idle, 45-85C when the computer is under load and 90C+ means the computer is overheating
          </p>
        </div>
      </div>
    </div>

    <div class="faq-drawer">
      <input class="faq-drawer-trigger" id="faq-drawer-5" type="checkbox" /><label class="faq-drawer-title" for="faq-drawer-5">Is my fan broken on my GPU if they are not spinning?</label>
      <div class="faq-drawer-content-wrapper">
        <div class="faq-drawer-content">
          <p class="pt-2">
            Some GPU fans do not spin/turn on until they reach a certain temperature threshold which is usually around 60C. Don’t worry if your fans are not spinning if the temps are under 60C          </p>
        </div>
      </div>
    </div>
    
  </div>

  {% include "home/footer.html" %}
  <!-- Back to top button will go here-->

{% endblock %} {% block postloadjs %}
<!-- Back to top button script will go here -->

{% endblock %}
