<div class="container-fluid">
    <footer class="text-white text-center text-lg-start bg-gradient-primary-to-secondary-two">
      <div class="container p-4">
        <div class="row mt-4">
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Social Media</h5>
            </p>
            <div class="mt-4">
              <a type="button" class="btn btn-floating rounded-circle btn-lg"><i class="fab fa-facebook-f"></i></a>
              <a type="button" class="btn btn-floating rounded-circle btn-lg"><i class="fab fa-instagram"></i></a>
              <a type="button" class="btn btn-floating rounded-circle btn-lg"><i class="fab fa-twitter"></i></a>
              <a type="button" class="btn btn-floating rounded-circle btn-lg"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 pb-1">Our Address</h5>
            <ul class="fa-ul" style="margin-left: 1.65em;">
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">200 Barracks, Cork, Ireland</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">elsinnarisami@gmail.com</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+353 83 384 8004</span>
              </li>
            </ul>
          </div>
  
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Opening hours</h5>
  
            <table class="table text-center text-white">
              <tbody class="fw-normal">
                <tr>
                  <td>Mon - Thu:</td>
                  <td>7am - 8pm</td>
                </tr>
                <tr>
                  <td>Fri - Sat:</td>
                  <td>9am - 2pm</td>
                </tr>
                <tr>
                  <td>Sunday:</td>
                  <td>9am - 1pm</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </footer>
  </div>