{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="padding-15-em"></div>
<div class="container jumbotron-section">
    <div class="row">
        <div class="col-12 col-sm-6">
            <h1>Buy Latest <br> PC Components</h1>
            <div class="my-5">
                <h4> <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 py-3">Take a Tour</a></h4>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <img src="/media/AMDryzen7-5800x.jpg" class="rounded img-fluid" alt="Image picture">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6">
            <img src="/media/AMDryzen7-5800x.jpg" class="rounded img-fluid" alt="Image picture">
        </div>
        <div class="col-12 col-sm-6">
            <h2>Chosen by experts with <br> a taste for quality</h2>
            <p>Promoting the best components, chosen by a highly-trained builders, 
                delivered to you directly within two to three days,
                backed by a comprehensive 2-year warranty.
                </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6">
            <h2>Competitive pricing </h2>
            <p>We list everything you need for the best build and
                display cost clearly. Cheapest on the market therefore more 
                cost-effective than buying parts separately
                </p>
        </div>

        <div class="col-12 col-sm-6">
            <img src="/media/ezgif.com-gif-maker.gif" class="rounded img-fluid" alt="Image picture">
        </div>
    </div>
</div>


<!-- I will maybe add this below as new products in the store --- still in progress -->

<!-- <div class="container">
    <div class="container">
      <div class="row">
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card border-0">

            {% if product.image %}
            <a href="{% url 'product_detail' product.id %}">
              <img
                class="card-img-top"
                src="{{ product.image.url }}"
                alt="{{ product_name }}"
              />
            </a>
            {% else %}
            <a href="{% url 'product_detail' product.id %}">
              <img
                class="card-img-top"
                src="{{ MEDIA_URL }}noimage.png"
                alt="{{ product_name }}"
              />
            </a>
            {% endif %}
          </div>

          <div class="card-body pl-0">
            <a href="{% url 'product_detail' product.id %}">
                <h4 class="card-title pb-0">{{ product.name }}</h4>
            </a>
            {% if product.category %}
                <p class="product-category">
                <a href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category.friendly_name }}
                </a>
                </p>
            {% endif %}
            <p class="card-text">{{ product.price}}</p>
    

          {% if request.user.is_superuser %}
            <small>
                <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
            </small>
            {% endif %}
        </div>
              </div>
        {% endfor %}
      </div>
    </div> -->
{% endblock %}