{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}


<section class="bg-white">
    <div class="container-padding">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-3">
                <h2 class="display-4 lh-1 mb-4">Building PC's made simple</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">We sell latest PC components, all protected by a 2-year warranty.</p>
                <a class="btn btn-outline-dark rounded-pill" href="{% url 'products' %}">Take a Tour</a>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-9">
                <img class="img-fluid" src="/media/pc-background-image.jpeg" alt="Background PC Image"/>
            </div>
        </div>
    </div>
</section>


<aside class="text-center bg-gradient-primary-to-secondary">
    <div class="container px-5">
        <div class="row padding-aside justify-content-center">
            <div class="col-xl-8">
                <div class="h2 fs-1 text-white mb-4">"“Their overclocking program is an art. Finally, no one will ever wonder how good their computer will perform in the games they want to play.”</div>
                <img src="/media/review-logo.png" alt="PCBuilds review" style="height: 10em; border-radius: 50%;" />
            </div>
        </div>
    </div>
</aside>

<section class="bg-white">
    <div class="container-padding text-right">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <img class="img-fluid" src="/media/pc-background-image-2.png" alt="Background PC Image"/>
            </div>
            <div class="col-12 col-lg-6">
                <h2 class="display-4 lh-1 mb-4">Chosen by experts with a taste for quality</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">Promoting the best components, chosen by a highly-trained builders, 
                    delivered to you directly within two to three days,
                    backed by a comprehensive 2-year warranty.
                    </p>
            </div>
        </div>
    </div>
</section>


<div class="container px-5">
    <div class="row gx-5 align-items-center">
            <div class="container-fluid px-5">
                <div class="row gx-5">
                    <div class="col-md-6 mb-5">
                        <div class="text-center">
                            <img src="/media/warranty.png" alt="Warranty Picture">
                            <h3 class="font-alt ">2-Year Warranty</h3>
                            <p class="text-muted mb-0">Attention to detail doesn't stop with our hardware. 
                                Not only does our 2-year warranty cover all parts and labor, but our award-winning customer service team is also here to help with any issues.
                                </p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <div class="text-center">
                            <img src="/media/truck.png" alt="Delivery Picture">
                            <h3 class="font-alt">Secure Delivery</h3>
                            <p class="text-muted mb-0">With our fast two-three day shipment, we provide a secure delivery for our customers.
                                Stop worrying if your order will be lost, as our personal drivers will take care of your order like it's their own.
                                </p>
                        </div>
                    </div>
                </div>
           </div>
    </div>
</div>


<section class="bg-white">
    <div class="container-padding">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-6">
                <h2 class="display-4 lh-1 mb-4">Competitive pricing</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">We list everything you need for the best build and
                    display cost clearly. Cheapest on the market therefore more cost-effective than buying a pre-build PC.</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <img class="img-fluid" src="/media/price-graph.png" alt="Background PC Image"/>
            </div>
        </div>
    </div>
</section>


{% endblock %}