{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}


<section class="bg-white">
    <div class="container-padding">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-4">
                <h2 class="display-4 lh-1 mb-4">Building PC's <br> made simple</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">TWe build custom PCs around your budget, optimized for the games you love, all protected by a 2-year warranty.</p>
                <a class="btn btn-outline-dark rounded-pill" href="{% url 'products' %}">Take a Tour</a>
            </div>
            <div class="col-sm-12 col-md-8">
                <img class="img-fluid" src="/media/pc-background-image.jpeg" alt="Background PC Image"/>
            </div>
        </div>
    </div>
</section>

<div class="container px-5">
    <div class="row gx-5 align-items-center">
            <div class="container-fluid px-5">
                <div class="row gx-5">
                    <div class="col-md-6 mb-5">
                        <!-- Feature item-->
                        <div class="text-center">
                            <img src="/media/warranty.png" alt="Warranty Picture">
                            <h3 class="font-alt ">2-Year Warranty</h3>
                            <p class="text-muted mb-0">Attention to detail doesn't stop with our hardware. 
                                Not only does our 2-year warranty cover all parts and labor, but our award-winning customer service team is also here to help with any issues.
                                </p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <!-- Feature item-->
                        <div class="text-center">
                            <img src="/media/truck.png" alt="Delivery Picture">
                            <h3 class="font-alt">Secure Delivery</h3>
                            <p class="text-muted mb-0">With our fast two-three day shipment, we provide a secure delivery for our customers.
                                Stop worrying if your order will be lost, as our personal drivers will take care of your order like it's their own.
                                </p>
                        </div>
                    </div>
                </div>
           </div>
    </div>
</div>

<section class="bg-white">
    <div class="container-padding">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-sm-12 col-md-8">
                <img class="img-fluid" src="/media/pc-background-image.jpeg" alt="Background PC Image"/>
            </div>
            <div class="col-12 col-lg-4">
                <h2 class="display-4 lh-1 mb-4">Enter a new age of PC design</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">This section is perfect for featuring some information about your application, why it was built, the problem it solves, or anything else! There's plenty of space for text here, so don't worry about writing too much.</p>
                <a class="btn btn-outline-dark rounded-pill" href="{% url 'products' %}">Take a Tour</a>
            </div>
        </div>
    </div>
</section>


<section class="bg-white">
    <div class="container-padding">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-4">
                <h2 class="display-4 lh-1 mb-4">Enter a new age of PC design</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">This section is perfect for featuring some information about your application, why it was built, the problem it solves, or anything else! There's plenty of space for text here, so don't worry about writing too much.</p>
                <a class="btn btn-outline-dark rounded-pill" href="{% url 'products' %}">Take a Tour</a>
            </div>
            <div class="col-sm-12 col-md-8">
                <img class="img-fluid" src="/media/pc-background-image.jpeg" alt="Background PC Image"/>
            </div>
        </div>
    </div>
</section>
<!-- <div class="padding-15-em"></div>
<div class="container jumbotron-section">
    <div class="row">
        <div class="col-2 col-sm-3">
            <h1>Buy Latest <br> PC Components</h1>
            <div class="my-5">
                <h4> <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 py-3">Take a Tour</a></h4>
            </div>
        </div>
        <div class="col-10 col-sm-12">
            <img src="/media/pc-background-image.jpeg" class="rounded img-fluid" alt="Image picture">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6">
            <img src="/media/AMDryzen7-5800x.jpg" class="rounded img-fluid" alt="Image picture">
        </div>
        <div class="col-12 col-sm-6">
            <h2>Chosen by experts with <br> a taste for quality</h2>
            <p>Promoting the best components, chosen by a highly-trained builders, 
                delivered to you directly within two to three days,
                backed by a comprehensive 2-year warranty.
                </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6">
            <h2>Competitive pricing </h2>
            <p>We list everything you need for the best build and
                display cost clearly. Cheapest on the market therefore more 
                cost-effective than buying parts separately
                </p>
        </div>

        <div class="col-12 col-sm-6">
            <img src="/media/ezgif.com-gif-maker.gif" class="rounded img-fluid" alt="Image picture">
        </div>
    </div>
</div> -->

{% endblock %}