{% extends "base.html" %} {% load static %} {% block content %}

<!-- Jumbotron -->
<div class="container-padding">
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-9">
        <img class="img-fluid" src="{{MEDIA_URL}}contact-us.jpeg" alt="Contact Us"/>
    </div>
  </div>
</div>

</section>
<section class="container">
  <div class="row ">
    <div class="col-12 text-center">
      <h2>Got a question?</h2>
      <p>
        Whether it is about your order, need more information or anything else, feel free to drop us a message in the form below.
      </p>
    </div>
  </div>
<!-- Contact Form -->
  <div class="row contact-form-row">
    <div class="col-12">
      <form action="{% url 'contact' %}" method="post">
        {% csrf_token %} {{ form|crispy }}
        <div class="form-actions">
          <button class="btn btn-secondary mb-2" type="submit">Send Message</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}