*{
    margin: 0;
    padding: 0;
}

html, body {
    width: auto; 
    overflow-x: hidden!important ;
} 

body{
    font-family: 'Poppins', serif;
}

p {
    font-family: 'Spectral', serif;
    font-weight: 500 !important;
}

html .newsreaderr-font {
    font-family: "Newsreader", sans-serif !important;
}

h2 {
    color: #5a5656;   
}

/* ------------- Social Links ------------- */

.social_icons{
    text-align: center;
    padding-top: 10px;
    color: black;
  }

  .social_icons ul li{
    list-style: none;
    display: inline-block;
  }
  
  .social_icons ul li a{
    padding: 8px;
    color: #378bdf;
  }

  .social_icons ul li a span:hover{
    color: #6e6868;
    transition: 0.5s ease-in-out;
  }

  .free-delivery-text{
    padding-top: 10px;
    text-align: center;
  }

.container-padding{
    padding-top: 15em;
}

.home-padding{
    padding-top: 15em;
}

.allauth-padding{
    padding-top: 8em;
}


/* ------------- Navbar ------------- */

#navbarSupportedContent {
    transition: height 0.1s ease-out;
}

.navbar {
    margin: 0px 24px;
}

.navbar-toggler {
    border: none;
}

.navbar-brand {
    letter-spacing: 5.6px;
    font-size: 28px;
    margin-right: 0px;
}

.my-account-mobile {
    display: none;
}

.nav-item {
    font-size: 16px;
}

.nav-icons {
    width: auto;
    padding: 0px;
    padding-right: 5px;
}

.nav-icons ul li {
    padding: 0px 5px;
}

.nav-bag p {
    color: #7b7c7c!important;
}

.dropdown-menu {
    background-color: #ffffff;
}

.dropdown-menu a {
    color: #7b7c7c;
}

.dropdown-menu a:active {
    background-color: #f8f9fa;
    color: #7b7c7c;
}

/* ------------- Aside ------------- */
.bg-gradient-primary-to-secondary {
    background: linear-gradient(45deg, #2937f0,#880ea7,#a432dd,#e13e3e, #e4923a, #dfcb32, #75e426) !important;
  }
  
.bg-gradient-primary-to-secondary-two {
    background: linear-gradient(45deg, #1e28ae,#784bcc,#784bcc, #216cbd) !important;
  }

  .padding-aside{
      padding: 3em;
  }

/* ------------- Category buttons ------------- */

                                                                                .category-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.category-btns a {
    margin: 10px;
}

.faq-padding {
    padding-top: 5em;
}


/* btns */

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    background-color: #bdbdbd;
    border: none;
    color: #2C2C2C;
    padding: 6px 12px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
}



/* SEARCH BAR */ 

.search-site-form{
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


/* Quantity links */

.update-link,
.remove-item{
    cursor: pointer;
}

/* ------------- Toasts ------------- */

.message-container {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper{
    height: 2px;
}

/* .arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
} */

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

select,
select option {
    color: black;
}

select:invalid,
select option[value=''] {
    color: gray !important;
}

/* ------------- Product Form ------------- */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.checkout-padding{
    padding-top: 15em;
}

.order-confirmation{
    font-family: 'Newsreader', sans-serif;
}


/* ------------- Products ------------- */
.card-body {
    display: flex;
    flex-direction: column;
  }

  .card-body h4{
    color: gray;
  }

  .card-body p a{
    color: gray;
  }

  .card-body p{
    color: rgb(46, 46, 46);
    font-size: larger;
  }

  .card-body h4:hover {
    transition: 0.8s;
    color: rgb(104, 87, 70);
  }

  .pushdown {
    margin-top: auto;
  }

  .card-img-products {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .card-body a {
      text-decoration: rgb(255, 60, 0);
  }

  .category-btn-deco{
      text-decoration: gray;
  }

  .font-override {
      font-family: "Newsreader", sans-serif;
  }

  .product-detail-btns {
    text-decoration: gray;  
    margin: 10px;
  }

/* ------------- Blog  ------------- */

  .maintxt{
      background-image: url(/media/color-powder-picture-crop.jpeg);
      background-size: cover;
  }


  .img-headline {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    color: rgb(255, 255, 255);
    text-shadow: 10px gray;
    font-size: 4em;
    font-family: 'Rampart One', cursive;
  }

.blog-img-size {
    width: auto;
    height: 400px;
    object-fit: cover;
}

.blog-card-body{
    margin-bottom: 25px;
}

#id_body {
    width: 100%;
}


/* ------------- Contact form ------------- */


.contact-form-row {
border-width: 2px;
border-style: ridge;
border-right: 0;
border-image: 
  linear-gradient(
    to bottom, 
    blue, 
    yellow, 
    pink, 
    red, 
    green, 
    rgba(0, 0, 0, 0)
  ) 10% 100%;
}





/* ------------- Accordion section ------------- */

/* Code below has been inspired by Vanila CSS collapsible drawers : https://codepen.io/builtbyluke/pen/dBVVQR  */

.faq-drawer {
    margin-bottom: 30px;
  }
  
  .faq-drawer-content-wrapper {
    font-size: 1.25em;
    line-height: 1.4em;
    max-height: 0px;
    overflow: hidden;
    transition: 0.25s ease-in-out;
  }
  
  .faq-drawer-title {
    border-top: #000 1px solid;
    cursor: pointer;
    display: block;
    font-size: 1.25em;
    font-weight: 700;
    padding: 30px 0 0 0;
    position: relative;
    margin-bottom: 0;
    transition: all 0.25s ease-out;
  }
  
  .faq-drawer-title::after {
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: " ";
    display: inline-block;
    height: 10px;
    left: 2px;
    position: relative;
    right: 20px;
    top: 2px;
    transform: rotate(135deg);
    transition: 0.35s ease-in-out;
    vertical-align: top;
    width: 10px;
  }
  
  .faq-drawer-title:hover { 
    color: #4E4B52  ;
  }
  
  .faq-drawer-trigger:checked
    + .faq-drawer-title
    + .faq-drawer-content-wrapper {
    max-height: 350px;
  }
  
  .faq-drawer-trigger:checked + .faq-drawer-title::after {
    transform: rotate(-45deg);
    transition: 0.25s ease-in-out;
  }
  
  input[type="checkbox"] {
    display: none;
  }

/* ------------- Testimonials section test  ------------- */

.carousel {
    width: 650px;
    margin: 0 auto;
    padding-bottom: 50px
}

.carousel .item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 340px
}

.carousel .item a {
    color: #eb7245;
}

.carousel .img-box {
    width: 145px;
    height: 145px;
    margin: 0 auto;
    border-radius: 50%
}

.carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}

.carousel .testimonial {
    padding: 30px 0 10px;
}

.testimonial {
    color: #000000;
    font-size: 1.5rem;
    height: 200px;
}

.carousel .overview {
    text-align: center;
    font-size: 1rem;
}

.carousel .overview bold {
    color: #333;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: block;

}

.carousel .star-rating i {
    font-size: 18px;
    color: #dabb0cf8;
}

.carousel .carousel-control {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #999;
    text-shadow: none;
    top: 4px;
}

.carousel-control i {
    font-size: 20px;
    margin-right: 2px;
}

.carousel-control.left {
    left: auto;
    right: 40px;
}

.carousel-control.right i {
    margin-right: -2px;
}

/* ALLAUTH*/


/* ------------- Media Queries ------------- */


@media only screen and (max-width: 1200px) {
    .navbar {
        margin: 16px 75px;;
        padding: 0px;
    }
    
    .navbar-toggler {
        font-size: 1rem;
    }
    
    .nav-item-list {
        text-align: left;
        padding: 40px 0px;
        max-width: 100%;
        }
    
    .nav-item-list li {
        padding: 5px 0px;
        font-size: 18px;
        }
    
    .navbar-brand {
        letter-spacing: 3.5px;
        font-size: 20px;
        }
    
    .bag-icon i {
        font-size: 1rem;
    }
    
    .nav-bag-account {
        -webkit-box-orient: unset;
        -webkit-box-direction: unset;
            -ms-flex-direction: unset;
                flex-direction: unset;
        }
    
    .my-account {
        display: none;
        }
    
    .my-account-mobile {
        display: block;
        }

    .card-img-products {
        width: 100%; 
        height: 100%;
        object-fit: cover;
    }
    }


@media only screen and (max-width: 768px) {
    
    .navbar {
        margin: 16px;
        padding: 0px;
    }
    
    .navbar-brand-col {
        width: auto;
    }

    .none-on-med{
        display: none;
    }
}


@media only screen and (max-width: 600px) {

    .navbar-brand {
        letter-spacing: 3px;
        font-size: 20px;
        }

    .newfont{
        font-size: 20px !important;
    }

    .none-on-med{
        display: block;
    }

    .home-padding{
        padding-top: 10em;
    }

    .display-4{
        font-size: 2.2em !important;
    }

    .testimonial {
        font-size: 1.1rem;
    }
} 