{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endblock %}

    {% block extra_css %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/33d7ecfab3.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>TechArray {% block extra_title %}{% endblock %}</title>
  </head>
  <body>

    <header>
      <div id="delivery-banner" class="container">
        <div class="row">
            <div class="social_icons col-sm-12 col-lg-6"> 
                <ul>
                    <li><a href="https://www.facebook.com/" target="blank"><span class="fab fa-facebook fa-2x"></span></a></li>
                    <li><a href="https://twitter.com/" target="blank"><span class="fab fa-twitter-square fa-2x"></span></a></li>
                    <li><a href="https://www.instagram.com/" target="blank"><span class="fab fa-instagram-square fa-2x"></span></a></li>
                    <li><a href="https://www.instagram.com/" target="blank"><span class="fab fa-instagram-square fa-2x"></span></a></li>
                </ul>
                </div>
            <div class="col-sm-12 col-lg-6">
                <h4 class="free-delivery-text">Free delivery on orders over ${{ free_delivery_treshold }}!</h4>                
            </div>       
        </div>
        </div>

        <nav class="autohide navbar-expand-lg">
            <div class="hamburger_wannabe">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-links_wannabe">
                <li class="font-white-color"><a href="{% url 'products' %}">Shop</a></li>
                <li class="font-white-color"><a href="#">About</a></li>
                <li class="font-white-color"><a href="#">FAQ</a></li>
                <li class="font-white-color"><a href="#">Contact</a></li>
                <li class="font-white-color"><a href="#">Blog</a></li>
            </ul>
        </nav>
        
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link">
                        <h2 class="logo-font text-black my-0"><strong>TechArray</strong></h2>
                    </a>
                </div>
                <!-- <div class="account-shopping-bag"> -->
                    <div class="col-sm-12 col-lg-6">
                        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                            <li class="list-inline-item dropdown">
                                <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="text-center">
                                        <div><i class="fas fa-user fa-lg"></i></div>
                                        <p class="my-0">My Account</p>
                                    </div>
                                </a>
                                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                    {% if request.user.is_authenticated %}
                                        {% if request.user.is_superuser %}
                                            <a href="" class="dropdown-item">Product Management</a>
                                        {% endif %}
                                        <a href="" class="dropdown-item">My Profile</a>
                                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                    {% else %}
                                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                                    <div class="text-center">
                                        <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                        <p class="my-0">
                                            {% if grand_total %}
                                                ${{ grand_total|floatformat:2 }}
                                            {% else %}
                                                $0.00
                                            {% endif %}
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        <!-- </div> -->

            <!-- SEARCH -->
        <form method="GET" action="{% url 'products' %}" class="search-site-form">
            <div class="input-group">
                <input class="form-control py-2 border-right-0 border" name="q" type="search" placeholder="Search here!" id="example-search-input">
                <span class="input-group-append">
                    <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
                </span>
            </div>
        </form>
    </header>


    {% if messages %}
    <div class="message-container">
		{% for message in messages %} 
            {% with message.level as level %}
                {% if level == 40 %} {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %} {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %} {% include 'includes/toasts/toast_success.html' %}
                {% else%} {% include 'includes/toasts/toast_info.html' %} 
            {% endif %}
		{% endwith%} {% endfor %}
	</div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
    const hamburger_wannabe = document.querySelector(".hamburger_wannabe");
    const navLinks = document.querySelector(".nav-links_wannabe");
    const links = document.querySelectorAll(".nav-links_wannabe li");

    hamburger_wannabe.addEventListener('click', ()=>{
      //Animate Links
        navLinks.classList.toggle("open");
        links.forEach(link => {
            link.classList.toggle("fade");
        });

        //hamburger_wannabe Animation
        hamburger_wannabe.classList.toggle("toggle");
    });
    </script>

    <script>
        $(".toast").toast("show");
    </script>
    {% endblock %}

    
  </body>
</html>