{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container jumbotron-section">
    <div class="row">
        <div class="col-12 col-sm-6">
            <h1>Buy Latest <br> PC Components</h1>
        </div>
        <div class="col-12 col-sm-6">
            <img src="pc-nzxt.png" class="rounded img-fluid" alt="Image picture">
        </div>
    </div>
</div>
{% endblock %}