{% extends "base.html" %} {% load static %} {% block content %}

<!-- Jumbotron -->
<section class="bg-white">
  <div class="container-padding">
      <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
          <div class="col-12 col-lg-5 p-5">
              <h2 class="display-4 lh-1 mb-4">Shop of the highest quality</h2>
              <hr class="w-100 p-3 border-dark">
              <h2 class="display-4 lh-1 mb-4">It's What's Inside that Counts</h2>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-7">
              <img class="img-fluid" src="/media/pc-shop-2.jpeg" alt="Background PC Image"/>
          </div>
      </div>
  </div>
</section>

<!-- Product Categories -->
<section class="container">
  <div class="row">
    <div class="col text-center">
      <h4>Filter by Category</h4>
    </div>
  </div>
  <div class="container category-container">
    <div class="row mb-5">
      <div class="col text-center category-btns">
        {% for c in current_categories %}
        <a class="text-decoration-none btn btn-outline-secondary" href="{% url 'products' %}?category={{ c.name }}">
          <span class="">{{ c.friendly_name }}</span>
        </a>
        {% endfor %}
        <a class="text-decoration-none btn btn-outline-secondary" href="{% url 'products' %}">
          <span class="btn-yellow">All Items</span>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Products Content -->
<div class="container">
  <div class="row justify-content-center">
    {% for product in products %}
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 card bg-white m-3">
      <div class="">
        <!-- Product Image -->
        {% if product.image %}
        <a href="{% url 'product_detail' product.id %}">
          <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product_name }}" />
        </a>
        {% else %}
        <a href="{% url 'product_detail' product.id %}">
          <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product_name }}" />
        </a>
        {% endif %}
      </div>

      <!-- Card Body -->
      <div class="card-body d-flex flex-column pl-0">
        <a href="{% url 'product_detail' product.id %}">
          <h4 class="card-title pb-0">{{ product.name }}</h4>
        </a>
        {% if product.category %}
        <p class="product-category">
          <a href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category.friendly_name }}
          </a>
        </p>
        {% endif %}
        <p class="testbtn">${{ product.price}}</p>

        <!-- Edit / Delete buttons -->
        {% if request.user.is_superuser %}
        <small>
          <a href="{% url 'edit_product' product.id %}">Edit</a> |
          <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
        </small>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% include "home/footer.html" %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}
